<!DOCTYPE html>
<html>
  <head>
    <title>MiniProject</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Gerardo's place</h1>
    <p>Welcome to Gerardo's place</p>
  </body>
</html>
